@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebf7fa;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
